@page "/"

<p><strong>Select an option for show its information:</strong></p>
<ul>
	<li><NavLink class="nav-link" href="listpeople" Match="NavLinkMatch.All">Home</NavLink></li>
	<li><NavLink class="nav-link" href="listpeople" Match="NavLinkMatch.All">List People</NavLink></li>
	<li><NavLink class="nav-link" href="listplanet" Match="NavLinkMatch.All">List Planets</NavLink></li>
	<li><NavLink class="nav-link" href="listvehicle" Match="NavLinkMatch.All">List Vehicles</NavLink></li>
</ul>
